<h2>Search Results for: <i><%= params[:term] %></i></h2>

<% if @posts %>
  <ul class='search_results'>
    <% @posts.with_highlights.each do |post, highlights| %>
      <li>
        <h3>
          <%= link_to post.title, [post] %>
        </h3>
        <p><%= (highlights[:description] || post.description).html_safe %>...</p>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Your search did not match any documents.</p>
<% end %> 